/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: slategrey;
  color: white;
}

h1 {
  font-family: verdana, arial, sans-serif; 
}

button{
  padding: 10px;
  border-radius: 10px;
  background-color: Beige;
}

button:hover{
  background-color: #FFBF00;
  color: red;
}

#gameBtnArea > button {
  width:200px;
  height:200px;
  margin:2px;
  font-size: 30px;
  color: black;
}
#gameBtnArea: hover > button  {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.hidden{
  display: none;
}

#btn1{
  background: lightgreen;
}
#btn1:active, #btn1.lit{
  color: white;
  background-color: #51ff0d;
  -webkit-animation-name: #51ff0d;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-box-shadow: 0 0 18px #51ff0d;
}


#btn2{
  background: lightblue;
}
#btn2:active, #btn2.lit{
  color: white;
  background-color: #1ac6ff;
  -webkit-animation-name: #1ac6ff;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-box-shadow: 0 0 18px #1ac6ff;
}

#btn3{
  background: pink;
}
#btn3:active, #btn3.lit{
  color: white;
  background-color:  #ff3333;
  -webkit-animation-name:  #ff3333;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-box-shadow: 0 0 18px  #ff3333;
}

#btn4{
  background:#85e0e0;
}
#btn4:active, #btn4.lit{
  color: white;
  background-color: #00ffff;
  -webkit-animation-name: #00ffff;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-box-shadow: 0 0 18px #00ffff;
}

#btn5{
  background: PeachPuff;
}
#btn5:active, #btn5.lit{
  color: white;
  background-color: #ff884d;
  -webkit-animation-name: #ff884d;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-box-shadow: 0 0 18px #ff884d;
}

#btn6{
  background: plum;
}
#btn6:active, #btn6.lit{
  color: white;
  background-color: #bf4080;
  -webkit-animation-name: #bf4080;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-box-shadow: 0 0 18px #bf4080;
}

#btn7{
  background: chocolate;
}
#btn7:active, #btn7.lit{
  color: white;
  background-color: #996633;
  -webkit-animation-name: #996633;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-box-shadow: 0 0 18px #996633;
}
